*{
    box-sizing:borderbox;
}
body{
    background-color:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1))

#countLabel{
    display: block;
    text-align: center;
    font-size: 100px;
    justify-content: space-around;

}
 
button:hover {
   
    background-color: blue;
  
}
.buttons{
    display: block;
    text-align: center;
    font-size: 100px;
    justify-content: space-around;
}
